footer {
  border-top: solid;
  position: relative;
  bottom: 0;
  height: 100px;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-size: 14px;

  p {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}