<div class="social-main">
  <ul>
    <li><a class="shared-tw" href="#" target="_blank"></a></li>
    <li><a class="shared-vk" href="#" target="_blank"></a></li>
    <li><a class="shared-inst" href="#" target="_blank"></a></li>
  </ul>
</div>