<h1 class="category_name"><%= @category.name %></h1>

<div class="container category_c">
  <div class="row">
    <% @category_posts.each do |t| %>
      <div class="col-md-4 category_1">
        <div class="category">
          <%= image_tag t.preview_image, class: 'image' %>
          <div class="hover_background">
            <div class="hover_link"> <%= link_to t.title, post_path(t) %></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <% if @category_posts.blank? %>
    <p class="category_blank">В данной категории нет записей</p>
  <% end %>
</div>