<% @categories_presenter.on_present do %>
  <h1 class="category_name"><%= @categories_presenter.category.name %></h1>

  <div class="container category_c">
    <% @categories_presenter.on_posts_present do %>
      <div class="row">
        <% @categories_presenter.posts_details.each do |post| %>
          <div class="col-md-4 category_1">
            <div class="category">
              <%= image_tag post.preview_image, class: 'image' %>
              <div class="hover_background">
                <div class="hover_link">
                  <%= link_to post.title, post_path(post.id) %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <% @categories_presenter.on_posts_empty do %>
      <p class="category_blank">В данной категории нет записей</p>
    <% end %>
  </div>
<% end %>

